<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.fusecoords.drivedroid">

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name=".CustomApp"
            android:allowBackup="true"
            android:icon="@drawable/launcher_icon"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:replace="android:allowBackup">
        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>

        <activity
                android:name=".Authority.LoginActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Authority.MainActivity"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".Authority.SignupActivity"
                android:label="@string/title_activity_login"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".Authority.ResetPasswordActivity"
                android:label="@string/title_activity_reset_password"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".Authority.UserInfoActivity"
                android:label="User Information">
        </activity>
        <activity
                android:name=".SplashActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Customer.CustLoginActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Customer.CustRegisterActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Customer.CustDashboard"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Customer.AddLicence"
                android:label="Add Licence">
        </activity>
        <activity
                android:name=".Customer.LicenceList"
                android:label="My Licences"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Customer.VehicleList"
                android:label="My Vehicles"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Customer.AddVehicle"
                android:label="Add Vehicle">
        </activity>
        <activity
                android:name=".Authority.PayFine"
                android:label="Enter Input"
                android:theme="@style/AppDialogTheme">
        </activity>
        <activity
                android:name=".Authority.FineListSelect"
                android:label="Select Fine">
        </activity>
        <activity
                android:name=".Authority.ValidateFine"
                android:label="Confirm Selection">
        </activity>
        <activity
                android:name=".Authority.LicenceDetail"
                android:label="Licence Info">
        </activity>
        <activity
                android:name=".Authority.Attachement"
                android:label="View Docs">
        </activity>
        <activity
                android:name=".Customer.ViewStatus"
                android:label="Pending Fines">
        </activity>
        <!-- <activity android:name=".Customer.PaymentActivity"> -->
        <!-- </activity> -->
        <activity
                android:name=".Customer.ViewFine"
                android:label="View Fines">
        </activity>
        <activity
                android:name=".Authority.UploadAttachement"
                android:label="Upload Docs">
        </activity>
        <activity
                android:name=".Customer.TowCheck"
                android:label="Towed Vehicle?">
        </activity>
        <activity
                android:name=".Customer.DivisonList"
                android:label="View Traffic Divisions">
        </activity>
        <activity
                android:name=".Customer.AddressLocation"
                android:label="View Location">
        </activity>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyBmyylcsR_-glWi7WOEcYieL8TmqvbJir0"/>

        <activity
                android:name=".Customer.RtoList"
                android:label="View RTO Office">
        </activity>
        <activity
                android:name=".Authority.SendAlert"
                android:label="Send Traffic Alerts">
        </activity>
        <activity
                android:name=".Customer.ViewAlert"
                android:label="View Traffic Alerts">
        </activity>
        <activity
                android:name=".Authority.TowVehicle"
                android:label="Tow Vehicle">
        </activity>
        <activity
                android:name=".Customer.PayActivity"
                android:label="Pay Fine">
        </activity>
        <activity
                android:name=".Customer.ChangePasswordActivity"
                android:label="Change Password">
        </activity>
        <activity android:name=".Authority.VehicleDetail">
        </activity>
    </application>

</manifest>